.emoji-btn-wrapper {
    position: absolute;
    top: 12px;
    right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.emoji-btn {
    width: 20px;
    height: 20px;
    background: url('./icons/Icon-input.svg');
}

.emoji-btn:hover {
    background: url('./icons/Icon-input hover.svg');
}

.emoji-table {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 281px;
    background: #FFFFFF;
    margin-bottom: 10px;
    border: 1px solid #C5D0DB;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.hide {
    visibility: hidden;
}

.emoji-table__emoji-navbar {
    position: absolute;
    bottom: 0;
    width: 308px;
    height: 36px;
    background: #EBEEF2;
    border-radius: 0px 0px 4px 4px;
}

.emoji-block__emoji-section {
    display: flex;
    flex-wrap: wrap;
    width: 290px;
}

.section-name-wrapper {
    margin-bottom: 5px;
}

.emoji-table__emoji-block {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 240px;
    padding-left: 5px;
    overflow-y: scroll;
}

.emoji-icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.emoji-wrapper, .big-emoji-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
}

.emoji-wrapper:hover, .big-emoji-wrapper:hover {
    background: #F0F2F5;
    border-radius: 3px;
}

.emoji-section {
    display: flex;
    flex-wrap: wrap;
}

.section-name-wrapper__section-name {
    font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
    font-size: 15px;
    line-height: 17px;
    color: #939393;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
}